.nav{
    color: black !important;
}

/* Styles for screens larger than medium (>= 768px) */


/* Default styles */
.scrolled{
    padding: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255) !important;
}

.notScrolled{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.124) !important;
}
@media (max-width: 992px) {
    .scrolled, .notScrolled {
        background-color: rgb(255, 255, 255) !important;
    }
}
.cart{
    position: relative;
}

.cartNum{
    background-color: #046963;
    color: white;
    position: absolute;
    bottom: 75%;
    padding: 0 10px;
    left: 50%;
    border-radius: 18px;
    font-size: 13px;
}

.logoutIcon{
    position: relative;
    left: 0;
    transition: 0.3s;
}

.logoutIcon:hover{
    left: 5px;
}

.scrolledDownIcon{
    color: #383e50;
}

.scrolledDownIcon:hover{
    color: #088178;
}

.conChild{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255) !important;
}
.userName{
    cursor: pointer;
}