.textReset {
  text-decoration: none;
  color: #000;
  transition: 0.3s ;
}
.textReset:hover {
  color: #088178;
  transform: translateX(10px);
  text-decoration: none;
}
.gap-2 {
  gap: 0.5rem; 
}

.hover-up img {
  transition: transform 0.3s ease;
}

.hover-up:hover img {
  transform: translateY(-5px); 
}
