.inputGroupWrapper {
  width: 100%;
  max-width: 100%; 
}

@media (min-width: 768px) {
  .inputGroupWrapper {
    max-width: 400px;
  }
}

.textReset {
  transition: color 0.3s ease, transform 0.3s ease, margin-left 0.3s ease;
  text-decoration: none;
  color: #000;

}

.textReset:hover {
  color: rgb(52, 175, 52);
  transform: translateX(10px);
  margin-left: 5px;
}



.d-flex {
  display: flex;
}

.gap-2 {
  gap: 0.5rem; 
}

.hover-up img {
  transition: transform 0.3s ease;
}

.hover-up:hover img {
  transform: translateY(-5px); 
}
