.bg-lamon {
  background-color: #aeccc5;
}
.bg-gray {
  background-color: #f8f9fa !important;
}
.bg-main {
  background-color: #088178 !important;
}
.text-main {
  color: #088178 !important;
}
.text-sec {
  color: #383e50 !important;
}
.btn-main {
  background-color: #088178 !important;
  color: white !important;
}
.btn-main:hover {
  background-color: #046963 !important;
}
.text-sm{
  font-size: 14px;
}
.text-xsm{
  font-size: 12px;
}

/* reset form-control class */

.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.149) !important;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(3, 15, 33, 0.25) !important;
  background-color: white !important;
}
.form-control {
  border: 1px solid transparent !important;
  padding: 10px !important;
}
input::placeholder , textarea::placeholder {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.604) !important;
}

/* NavBar  */

.navbar-toggler:focus{
  box-shadow: none !important;
 
}
.navbar-toggler{
  border: none !important;
}

/* Swiper and its slides */

.swiper-pagination-bullet {
  padding: 6px;
}
.swiper-pagination-bullet-active {
  background-color: #046963 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #088178 !important;
  transition: all;
  transition-duration: 0.3s;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #046963 !important;
}
.slide{
  background-position: 58% center;
  background-size: cover;
}
.slide .container{
  top: 50%;
  transform: translateY(-50%);
}
.slide .container h2:nth-child(3){
  color: #046963;
}
.slide .container button{
  background-image: url(./imgs/theme/Slider/button.png);
  padding: 14px 80px 14px 65px ;
  color: #046963;
}
.slide .container .btn{
  outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.slide .container .btn:focus, 
.slide .container .btn:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.slide .container p{
color: rgba(0, 0, 0, 0.511);
font-size: 18px;
}

/*  */

.tablee {
  width: 100%; /* Make the table take the full width of its parent */
  max-width: 100%; /* Ensure it doesn't exceed the parent container's width */
  margin: 0 auto;
  background-color: white;
  border: 1px solid #aeccc5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.tablee thead {
  background-color: #088178 !important;
  color: white;
  padding: 1rem;
}

.tablee tbody tr td {
  padding: 0.8rem;
  word-break: break-word; /* Ensure long content breaks into multiple lines */
}

@media (max-width: 768px) {
  .tablee thead {
    font-size: 0.9rem;
  }
  
  .tablee tbody tr td {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

.filter input:focus {
  outline: 0;
  border: 1px solid #046963;
}

/* Cursuole */

.customers .customer-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top;
  transform: translateY(50%);
}

.customers .customer{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}
.carousel-indicators.customers-indicators [data-bs-target]{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color:#046963;
  margin-top: 20px;
}
.customers .cur-control-prev{
  left: -20%;
} 
.customers .cur-control-next{
  right: -20%;
} 
.customers .cur-icon {
  color: black;
}
.customers .cur-icon:hover {
  color: #088178
}
.cur-control:hover .cur-icon{
  color: #046963
}
.cur-icon-prev{
  transition: transform 0.4s;
}
.cur-icon-prev:hover{
  transform: translateX(-2px);
}
.cur-icon-next{
  transition: transform 0.4s;
}
.cur-icon-next:hover{
  transform: translateX(2px);
}


