.card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  position: relative;
  width: 200px; 
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.hotTag {
  background-color: #FF5776;
  color: #fff;
  padding: 3px 7px;
  border-radius: 20px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.imageContainer {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 256px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.1);
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.title:hover {
  color: #2BB572;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  color: #2BB572;
  font-size: 18px;
  font-weight: bold;
}

.originalPrice {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
  font-size: 14px;
}